form{
  .len6{
    width: 300px!important;
  }
  .len4{
    width: 172px!important;
  }
  .len7{
    width: 748px!important;
  }
  .len8{
    width: 463px!important;
  }
  select{
    padding-right: 20px;
  }
  .columns{
    padding-left: 50px
  }
  h3{
    font-size: 30px;
    margin-bottom: 40px;
  }
  p.input-title{
    font-size: 20px;
    color: #1270b7;
    margin-top: 20px;
    > img{
      margin-right: 20px;
    }
    span{
      color: red;
      padding-right: 10px;
      font-size: 25px;
    }
  }
  select, input[type="text"], form{
    outline: none;
    height: 35px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 0 5px #f5f5f5 inset;
    box-shadow: 0 0 5px #eee inset;
    font-size: 16px;
    color: #646464;
    margin-right: 20px;
    background-color: #fff;
  }
  select:focus, input:focus, form:focus{
    box-shadow: 0 0 6px #4bc5e8;
    border: 1px solid #4dbeeb;
    background-color: #fff;
  }
  select.platform_trading{
    width: auto;
    + input[type="checkbox"]{
      margin-left: 30px
    }
  }
  .type-con{
    label{
      display: inline-block;
      input[type="text"], select{
        width: 165px;
        margin-top: 7px;
      }
      .input_mail{
        width: 361px!important;
      }
      .input_address{
        width: 539px!important;
      }
    }
  }
  .gmi_link{
    input{
      display: inline-block;
    }
  }
  .hidden_block_title_experience, .hidden_block_title_income_details, .hidden_block_title, .hidden_block_title_employment, .hidden_block_title_gmi{
    cursor: pointer;
    .hidden_block_title_click{
      transform: rotate(180deg);
      transition: 0.6s;
    }
  }
  .experience, .income_details, .banking_details, .employment_status, .gmi_link{
    display: none;
  }
  .income_details, .experience{
    select, input{
      display: inline-block;
    }
  }
  p.subtitle{
    color: #1270b7;
    font-size: 17px;
  }
}